class Module1(object):
	def Main(self):
 
		#This should write out Captain Kirk onto the Screen
		Console.WriteLine("Captain Kirk")
 
		#This should be printed on screen when compiled
		Console.WriteLine("Star Trek 2009") 
		
		print "Captain Kirk"
		print "Star Trek 2009"
		
		# Result: Captain Kirk
		# Result:Star Trek 2009
